body {
	height: 100vh;
	/* 배경 이미지를 넣어주세요 */
	background-color: #ff9c00;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	/* 내부 여백의 상하 50px, 좌우 0으로 설정하는 코드 작성해주세요 */
}

.container .pokemons {
	flex-wrap: wrap;
	/* 요소들의 메인 축을 가로로 설정하는 코드를 입력해주세요 */
	/* 요소의 최대 가로 크기를 700px로 설정해주세요 */
	/* 내부 여백에 상하 40px, 좌우 20px 적용해주세요 */
	/* 그 밖에 필요한 속성들 추가 */
}

.container .pokemons .pokemon {
	box-sizing: border-box;
	/* 너비 80px, 높이 84px, 테두리를 3px 실선 하얀색으로 지정해주는 코드를 각각 작성해주세요 */
	/* transition 속성을 적용해주세요 */
	/* transform 속성을 적용해주세요 */
	/* 그 밖에 필요한 속성 추가 */
}

/* 마우스의 포인터를 각 요소에 올렸을때 발생하는 효과를 적용하는 코드들 작성하기 (가상 선택자 활용) */

.container .pokemons .pokemon .image {
	width: 140%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90px;
	/* 그 밖에 필요한 속성 추가 */
}

/* :nth-child() 가상클래스가 무엇인지 알아보고, 이를 적용하여 각 요소에 포켓몬 이미지 넣기 
(32개의 반복된 코드가 필요하며, 이미지는 background-image 속성 이용하기) */

.container .logo {
	/* 이미지 요소가 너무 크네요! 요소의 최대 가로 크기를 임의로 설정해주세요 */
	/* margin을 이용해서 요소를 가운데 정렬 해주세요  */
}

.container .logo img {
	/* width를 이용해서 로고를 부모 요소의 최대 너비에 맞춰서 출력할 수 있는 코드 작성해주세요 */
}
