body {
  height: 100vh;
  background-image: url(./images/background.jpeg);
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0%;
  /* *내부 여백의 상하 50px, 좌우 0으로 설정하는 코드 작성해주세요 */
}

.container .pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
  padding: 40px 20px;
  gap: 5px;
  border-radius: 40px 20px;
  max-width: 1240px;
  margin: 0 auto;
  justify-content: center;
}

.container .pokemons .pokemon {
  display: flex;
  background-color: #393939;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 10px 8px;
  width: 80px;
  height: 84px;
  margin: 2px;
  transform: skew(-15deg);
}
.container .pokemons .pokemon:hover {
  transition: all 0.1s ease;
  transform: scale(1.2) skew(-15deg);
  background-color: #ffa511;
}

.container .pokemons .pokemon .image {
  width: 140%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
}

.container .pokemons .pokemon:nth-child(1) .image {
  background-image: url(./images/pokemon1.png);
}
.container .pokemons .pokemon:nth-child(2) .image {
  background-image: url(./images/pokemon2.png);
}
.container .pokemons .pokemon:nth-child(3) .image {
  background-image: url(./images/pokemon3.png);
}
.container .pokemons .pokemon:nth-child(4) .image {
  background-image: url(./images/pokemon4.png);
}
.container .pokemons .pokemon:nth-child(5) .image {
  background-image: url(./images/pokemon5.png);
}
.container .pokemons .pokemon:nth-child(6) .image {
  background-image: url(./images/pokemon6.png);
}
.container .pokemons .pokemon:nth-child(7) .image {
  background-image: url(./images/pokemon7.png);
}
.container .pokemons .pokemon:nth-child(8) .image {
  background-image: url(./images/pokemon8.png);
}
.container .pokemons .pokemon:nth-child(9) .image {
  background-image: url(./images/pokemon9.png);
}
.container .pokemons .pokemon:nth-child(10) .image {
  background-image: url(./images/pokemon10.png);
}
.container .pokemons .pokemon:nth-child(11) .image {
  background-image: url(./images/pokemon11.png);
}
.container .pokemons .pokemon:nth-child(12) .image {
  background-image: url(./images/pokemon12.png);
}
.container .pokemons .pokemon:nth-child(13) .image {
  background-image: url(./images/pokemon13.png);
}
.container .pokemons .pokemon:nth-child(14) .image {
  background-image: url(./images/pokemon14.png);
}
.container .pokemons .pokemon:nth-child(15) .image {
  background-image: url(./images/pokemon15.png);
}
.container .pokemons .pokemon:nth-child(16) .image {
  background-image: url(./images/pokemon16.png);
}
.container .pokemons .pokemon:nth-child(17) .image {
  background-image: url(./images/pokemon17.png);
}
.container .pokemons .pokemon:nth-child(18) .image {
  background-image: url(./images/pokemon18.png);
}
.container .pokemons .pokemon:nth-child(19) .image {
  background-image: url(./images/pokemon19.png);
}
.container .pokemons .pokemon:nth-child(20) .image {
  background-image: url(./images/pokemon20.png);
}
.container .pokemons .pokemon:nth-child(21) .image {
  background-image: url(./images/pokemon21.png);
}
.container .pokemons .pokemon:nth-child(22) .image {
  background-image: url(./images/pokemon22.png);
}
.container .pokemons .pokemon:nth-child(23) .image {
  background-image: url(./images/pokemon23.png);
}
.container .pokemons .pokemon:nth-child(24) .image {
  background-image: url(./images/pokemon24.png);
}
.container .pokemons .pokemon:nth-child(25) .image {
  background-image: url(./images/pokemon25.png);
}
.container .pokemons .pokemon:nth-child(26) .image {
  background-image: url(./images/pokemon26.png);
}
.container .pokemons .pokemon:nth-child(27) .image {
  background-image: url(./images/pokemon27.png);
}
.container .pokemons .pokemon:nth-child(28) .image {
  background-image: url(./images/pokemon28.png);
}
.container .pokemons .pokemon:nth-child(29) .image {
  background-image: url(./images/pokemon29.png);
}
.container .pokemons .pokemon:nth-child(30) .image {
  background-image: url(./images/pokemon30.png);
}
.container .pokemons .pokemon:nth-child(31) .image {
  background-image: url(./images/pokemon31.png);
}
.container .pokemons .pokemon:nth-child(32) .image {
  background-image: url(./images/pokemon32.png);
}
.container .pokemons .pokemon:nth-child(33) .image {
  background-image: url(images/pokemon33.png);
}

.container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  background-image: url(./images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.container .logo img {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .container .pokemons {
    width: 90%;
  }
}
